.App{
    font-family: "Montserrat", sans-serif;
}
body{
    background: #59abe3
}
h5{
    margin: 0px;
}
.titulo-app{
    padding: 20px 0px 20px 0px;
    text-align: center; 
    font-weight:bold; 
    font-size: 40px; 
    color: #ff6464; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68;
}
.form-title{
    margin: 10px 0;
    padding-bottom: 10px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
    text-align: center;
}
form{
    background-color: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: 30px 20px 20px 20px;
    padding: 20px 30px;
    height: auto;
}
.form-login{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.form-user{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
}
input:focus {
    border-bottom: 2px solid #78788c;
}
button {
    padding: 8px 12px;
    margin: 8px 0 0;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all 0.3s;
}
button:hover {
    background: #78788c;
    color: #fff;
}
.button-tarea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px 12px;
    margin: 8px 0 0;
    background: 0;
    transition: all 0.3s;
}
textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s;
    border: 2px solid #bebed2;
    margin-top: 10px;
}
.align-btn{
    text-align: center;
}
.error-campos{
    color: rgba(255, 0, 0, 0.808);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 0;
}
.nav-item{
    padding: 8px 15px;
    background-color: #ECBA82;
    border: 2px solid #ECBA82;
    border-radius: 5px;
    color: #5a5a6e;
    cursor: pointer;
    transition: all 0.3s;
}
.nav-link:hover{
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}
.nav-link{
    text-decoration: none;
    color: #5A5A6E;
}
label{
    font-size: 14px;
    color: #5a5a5a;
}
.titulo-tareas{
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 3px solid #78788c;
    font-size: 28px;
    text-align: center;
    color: #ff6464; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68;
}
.tareas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: 30px 20px 20px 20px;
    padding: 20px 30px;
}
.tarea-descripcion{
    margin: 10px 10px 10px 0px;
}
.button-tarea-completada:hover {
    background: rgba(255, 0, 0, 0.808);
    border: 2px solid rgba(255, 0, 0, 0.808);
    color: #fff;
}
.button-editar-tarea:hover {
    background: #ECBA82;
    border: 2px solid #ECBA82;
    color: #fff;
}